<a href="https://colab.research.google.com/github/cezzarleoni90/Mintic/blob/main/ejercicios_ciclo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre_estudiante = "Cesar"
print(f"Hola",nombre_estudiante,", bienvenido al curso.")

In [ ]:
valor1 = input("Ingrese numero: ")
valor2 = 13
print(eval(valor1)+valor2)

In [ ]:
# formato para imprimir variasvariables F

estudiante = input("Ingrese su nombre")
curso = float(input("Curso numero: ? "))
print(f"Hola {estudiante}, bienvenido al curso {curso} del mintic.")

In [ ]:
#DEF 
def curso_mintic():
  nombre_alumno = input("Ingrese su nombre: ")
  edad = int(input("Ingrese su edad"))
  grado = input("Ingrese su grado")
  print(f"Hola {nombre_alumno}, su edad es {edad} años y cursa el grado {grado}°")
  return   0

In [ ]:
def incremetar_arriendo(valor_incremento, tiva):
  valor_arriendo = 1000
  valor_arriendo_total = valor_arriendo + valor_incremento + tiva
  print(f"El valor del nuevo arriendo es {valor_arriendo_total}")

In [ ]:
# IF - OR - AND -

nombre = input("Ingrese su nombre")
edad = int(input("Ingrese su edad"))

if nombre == "luisa" or edad > 18:
  print(f"{nombre} yo le voleo como a rata!")
else:
  print(f"{nombre} vaya a que se la piche un burro!")

In [ ]:
def ejercicio(valor_producto, tiene_iva):
  iva = 0.19  
  if tiene_iva == 'si':
    valor_total = valor_producto + (valor_producto * iva)
    print(f"El producto tiene un costo de ${valor_producto} y con iva ${valor_total}. ")
  else:
    print(f"El precio del producto es {valor_producto}, y no tiene iva." )

In [ ]:
ejercicio(300, 'si')

[texto del enlace](https://)#    LISTAS  / CREAR LISTAS / MODIFICAR / INSERTAR / ELIMINAR

In [ ]:
mi_lista1 = ["soy","yo","cesar"]
print(mi_lista1)

['soy', 'yo', 'cesar']

In [ ]:
frutas = ['Banano','Sandia','Pera','Papaya']
print(frutas)
frutas[0]

In [ ]:
# INSERT para INSERTAR algo a la lista .inset(posicion,'melon)

frutas.insert(3,'Melon')

In [ ]:
# INSERTAR  a la lista = .APPEND('DATOS A INSERTAR') se agrega en la ultima posicion
frutas.append('mandarina')

In [ ]:
frutas

['mandarina',
 'papaya',
 'mango',
 'Melon',
 'kiwi',
 'mandarina',
 'papaya',
 'mango',
 'kiwi',
 'mandarina']

In [ ]:
personas = ['Cesar','David','Sneider','Duvan','Sandra','Ines']
print(personas)

['Cesar', 'David', 'Sneider', 'Duvan', 'Sandra', 'Ines']

In [ ]:
# LEN para CONTAR la longitud de una lista LEN(LISTA)
len(personas)

6

In [ ]:
#REMOVE para ELIMINAR algo de la lista
personas.remove("Sneider")

In [ ]:
personas2 = ['julian','pedrito','sancho','pipe','juancho']
print(personas2)

['julian', 'pedrito', 'sancho', 'pipe', 'juancho']

In [ ]:
# REVERSE = .reverse() 
personas2.reverse()
personas2

['juancho', 'pipe', 'sancho', 'pedrito', 'julian']

In [ ]:
personas2.clear()

In [ ]:
persona_eliminada = personas2.pop(3)
print(persona_eliminada)

In [ ]:
lista_nueva = ['Banano','Zapote','Helado','Banano','Banano','Banano','Banano','Banano','Banano','Banano',]
print(lista_nueva)

In [ ]:
#Buscar UBICACION en la lista   INDEX
#Index
lista_nueva.index('Helado')

In [ ]:
verduras = ['papa criolla','tomate','cebolla','pimenton']
frutas = ['mandarina','papaya','mango','kiwi']

In [ ]:
legumbreria = frutas + verduras
print(legumbreria)

In [ ]:
colores = ['amarillo','azul','rojo','verde','morado']
colores

In [ ]:
# SLICING \\\\ UBICACION DE DATOS EN LA LISTA \\ POSICION INICIAL A POCICION FINAL

colores[0:-2]

In [ ]:
# ordenar lista alfabeticamnete .SORT() - ASCENDETE = .SORT(REVESER = TRUE)

colores.sort(reverse = True)
colores

['verde', 'rojo', 'morado', 'azul', 'amarillo']

In [ ]:
# saber POSICION de datos en la lista .INDEX('')
colores.index('rojo')

In [ ]:
colores.append('fucsia')
colores

CICLOS:

* FOR = NOSOTROS SABERMOS CUANTAS ITERACIONES VA A REALIZAR
* WHILE = NO SABERMOS CUANTO VA A ITERAR, FINALIZA CUANDO SE CUMPLA O NU UNA CONDICION

In [ ]:
# RANGO = RANGE
for pacientes in range(0, 10, 1): # RANGE(POSICION INICIAL,FINAL,INCREMENTOS ):
  print(pacientes)

In [ ]:
frutas = ['Banano','Papaya','Durazno','Sandia']
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])

In [ ]:
for fruta in frutas:
  print(fruta)

In [ ]:
# iterar HASTA cunplir una CONDICION
for fruta in frutas:
    print(fruta)
    if fruta == 'Durazno':
      break

In [ ]:
for fila in range (0,15,1):
  print('')
  for columna in range ( 0 ,fila +1 , 1 ):
    print('cesar ', end = '')

CICLOS:

CICLO FOR: Se carateriza principalmente por a priori sabemos la cantidad de interacciones que realiza

CICLO WHILE: Esta ciclo pude ser infinito, sin embargo se va a ejecutar hasta que se cumpla o no una condicion.

In [ ]:
for num in range(1,11,1):
  print(num, end = ' ')

# CICLO WHILE

In [ ]:
minutos = 0

while minutos <= 6:
  print('Estudiar!', end = " ")
  minutos = minutos + 1

print(f"Se llego el minuto {minutos}, a descansar!")

Estudiar! Estudiar! Estudiar! Estudiar! Estudiar! Estudiar! Estudiar! Se llego el minuto 7, a descansar!

In [ ]:
numero_adivinar   = 6
numero_usuario    = -1
numero_intentos   = 3
contador_intentos = 0

while numero_adivinar != numero_usuario:
  numero_usuario = int(input('Ingrese un numero para adivinar: '))
  contador_intentos += 1
  if contador_intentos == numero_intentos:
    print('Game over!')
    break

  if numero_usuario == numero_adivinar:
    print('Felicitaciones, has ganado!')
  else:
    print('Sigue intentando.')

EJERCICIO RETO

Usten y un grupo de maigo esta realizando una rifa de 1.00.000 de pesoso para recaudar fondos en pro de los habitantes de calle.

Cada participante debe adivinar un numero entre 0 y b (incluidos, b y n son los mismos para cada participante) cada concursante va a ingresando un numero entre 0 y b, y mientras no haya acertado, el sistema debera identificar si el numero esta por encima o por debajo del numero ganador. Una vez adivinado el sistema debera imprimir a los cuantos intentos el participante logro adivinar el numero, sera el juerado el encargado de dar como ganadsor a quien haya adivinado en menos intentos.

In [ ]:
min_num = 0
max_num = 15
numero_usuario = -1
numero_adivinar = 3
numero_intentos = 0

while numero_usuario != numero_adivinar:
  numero_usuario = int(input('Ingrese un numero a adivinar: '))
  
  
  if (numero_usuario < min_num) and (numero_usuario > max_num):    
    numero_intentos += 1

    if numero_usuario == numero_adivinar:
      print("Ganaste!")
      print(f"Numero de intentos: {numero_intentos}")
      break

    elif numero_usuario > numero_adivinar:
      print("Su numero es mayor del numero a adivinar")  

    elif numero_usuario < numero_adivinar:
      print("El numero es menor del numero a adivinar")  
  else:
    print("El numero ingresado esta por fuera del rango!")

RETO EJERCICIO CALCULADORA

Usted ha sido contratado por la tienda de su barrio para hacer una calculadora que facilite llevaar al tendero la cuenta de una compra.
El programa le solicita cula es el valor unitario de un producto que lleve el cliente (ain iva incluido) El programa le pregunta al tendero si el pruducto tiene iva.

*El programa le solicita al tendero cual es la contidad que lleva de ese prodicto

* Si el producto tiene iva, el sistema dede sumarlo e imprimir en consola EXACTAMENTE las siguientes palabras: 'PRODUCTO SIN IVA', el IVA se asume del 19%
 rama imprime el subtotal EXACTAMENTE como sigue: "SUBTOTAl: x " donde x es el subtotal(cantidad de deinero a cobrarse hasta ese insante).

*El progrmaam le preguntara al tendero si faltan productos por cobrar en esa compra.

*CUnado el tendero termina de realizar el corbro, el programa debe imprimir la cuenta total a cobrarle al cliente en esa compra. EXACTAMENTE  como sigue: "TOTAL A COBRAR: y" y donde es el valor total a cobrarle al cliente.

In [ ]:

iva                = 0.19
total              = 0
ingresar_prod      = True
while ingresar_prod:  
  ingresar_prod =  bool(int(input("Desea comprar algo mas? ")))
  if ingresar_prod == False:
    print("Saliendo de la tienda..")
    break
    
  else:
    valor_unitario     = int(input("Ingrese el valor unitario del producto: "))
    tiene_iva          = input("El producto tiene iva S/N? ")
    cantidad_prod      = int(input("Ingrese la cantidad a vender"))
    if tiene_iva == 'S':
      total += ((valor_unitario) * (iva + valor_unitario) * (cantidad_prod))
      print(f"Valor con iva es {total}")

    else:
     total += valor_unitario

Desea comprar algo mas? 0
Saliendo de la tienda..

TUPLAS

In [ ]:
mi_tupla = ('Banano','Ciruela','Kiwi','Sandia')

In [ ]:
mi_tupla

('Banano', 'Ciruela', 'Kiwi', 'Sandia')

In [ ]:
len(mi_tupla) # Contar cuantos valores hay.  LEN(TUPLA)

4

In [ ]:
mi_tupla[0:3]  #SLICING tomar una porcion de un conjunto de datos  mitupla[inicial:hasta]

('Banano', 'Ciruela', 'Kiwi')

In [ ]:
datos_bancarios = ('cesar','10325435','medellin','ahorros')
datos_bancarios

('cesar', '10325435', 'medellin', 'ahorros')

In [ ]:
# sacar u ordenar datos de una tupla

nombre = datos_bancarios[0]
cedula = datos_bancarios[1]
ciudad = datos_bancarios[2]
tipo   = datos_bancarios[3]

nombre, cedula, tipo, ciudad

('cesar', '10325435', 'ahorros', 'medellin')

In [ ]:
#contar cantidad de un elemento = cuentos 'mangos' hay 
#  .COUNT('ELEMENTO')
mi_tupla.count('Banano')

1

In [ ]:
# INDEX  // CONOCER LA POSICION DEL ELEMENT

mi_tupla.index('Banano')

0

TUPLAS VS LISTAS

TUPLAS = ('elemen','element2','element') son inmutables

LISTA = ['elemen','element2','element'] se pueden modificar

In [ ]:
balones = ('Rojo','Verde','Verde','Rojo','Azul','Azul')

In [ ]:
contador_balones_verdes = 0

for balon in balones:
  if balon =='Verde':
    contador_balones_verdes += 1
print(f"La cantidad de balones verdes es {contador_balones_verdes}")

La cantidad de balones verdes es 2

CONJUNTOS

In [ ]:
numeros = {1,2,3,4,5,6,7,8,9,9,9,9,91,88,77,44,5}

In [ ]:
frutas = {'Babano','Sandia','Banano','pina','Melon','Melon'}

DICCIONARIOS

In [ ]:
my_dicc = {'Nombre_estudiante' : 'Cesar', 'Edad' : 20 , 'Nota_curso' : 4.3}

In [ ]:
my_dicc

{'Nombre_estudiante': 'Cesar', 'Edad': 20, 'Nota_curso': 4.3}

In [ ]:
my_dicc['Nota_curso']

4.3

In [ ]:
my_dicc['Edad']

20

In [ ]:
estudiantes = {
    'estudiante1' : {
        'nombre' : 'Pepito',
        'edad' : 20,
        'materias' : {
            1001 : {
                'nombre' : 'Fundamentos de programacion',
                'notas' : [4.3, 3.4, 5, 2.2]
            }
      }
},
'estudiante2' : {
    'nombre' : 'Pepito',
    'edad' : 13,
    'materias' : {
        1001 : {
            'nombre' : 'Fundamentos de programacion',
            'notas' : [3.4, 5, 4.4, 3.4]
        },
        1002 : {
            'nombre' : 'Ingles' , 
            'notas' : [2.5, 3]
          }
      
       }
    
    }
}

In [ ]:
estudiantes['estudiante2']['materias'].update({1003 : 
                                               {'nombre' : 'Religion' , 'notas' : [4.5, 3.3, 4, 4.3]}})

In [ ]:
estudiantes['estudiante2']

{'nombre': 'Pepito',
 'edad': 13,
 'materias': {1001: {'nombre': 'Fundamentos de programacion',
   'notas': [3.4, 5, 4.4, 3.4]},
  1002: {'nombre': 'Ingles', 'notas': [2.5, 3]},
  'nombre': 'Religion',
  'notas': [4.5, 3.3, 4, 4.3],
  1003: {'nombre': 'Religion', 'notas': [4.5, 3.3, 4, 4.3]}}}

In [ ]:
listaPalabras = ('Gladis', 5, 4, 'Sonia', 1, 3, 'Gladis', 5, 4, 'Gladis', 5, 4, 'Gladis', 5, 2, 'Gladis', 3, 1, 'Sonia', 3, 1, 'Sonia', 3, 'Sonia', 5, 1 ,'Sonia', 2, 1, 'Gladis', 1, 2)

In [ ]:
listaPalabras

In [ ]:
cuentaGladis = listaPalabras.count('Gladis')
pantalonesGladis = 0
camisasGladis = 0

cuentaSonia = listaPalabras.count('Sonia')
pantalonesSonia = 0
camisasSonia = 0